# Build Folders (The compiled output)
Learning-Vue-2/Back-end/Learning-Vue-2/bin/
Learning-Vue-2/Back-end/Learning-Vue-2/obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code
Back-end/.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Node.js related
node_modules/

# Logs
*.log

# Local History for Visual Studio
.vs/

# ASP.NET Core
# appsettings.json
# appsettings.Development.json

Front-End/.DS_Store
Front-End/node_modules
Front-End/dist